.App {
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  background-color: black;
  position: absolute;
  top: 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  word-break: break-word;
}

.callButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.grid-container {
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 7px;
	margin-top:16px;
  border-radius:5px;
}

.grid-item {
  background-color: #ffffff;
	border:solid;
  border-width: thin;
  border-radius:8px;
  padding: 0px 8px;
	font-size:12px;
  color: black;
}

button.grid-item {
  cursor:pointer;
}


.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}